body {
  padding-top: 71px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

.table {
    table-layout: fixed;
}

.cor-status {
  display: inline-block;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
}

.btn-wide {
  width: 100px;
}

.notifications {
  min-width:420px;
}

.notifications-wrapper {
  overflow:auto;
  max-height:250px;
}

.notifications a.content {
  text-decoration:none;
}

.notification-item {
  color: #16181b;
  background-color: #e9ecef;
  border-radius:0.3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.notification-item:hover {
  background-color: #d6d8db;
}

#collapseVitimas div{
    background-color: #e9ecef;
}

#collapseVitimas tr {
  background-color: #e9ecef;
}

#collapseVitimas tbody tr:hover {
  background-color: #d6d8db;
}

.input-coberturas {
  display: inline;
  float: right;
}

.descricao-vitima .cor-status {
  padding: 0.5rem 5rem;
}

.timeline .card{
  border-radius: 0.5rem;
}

.timeline .card-body {
  padding: 0.75rem;
}

.timeline .card-body p {
  margin-bottom: 0rem;
}

.timeline .timeline-data{
  margin-bottom: 0.50rem;
}

.timeline .timeline-horario {
  line-height: 1;
}

.timeline-mensagem {
  border-color: #007bff !important;
}

.timeline-anexo {
  border-color: #dc3545 !important;
}

.timeline-lesao {
  border-color: #6f42c1 !important;
}

.timeline-despesa {
  border-color: #ffc107 !important;
}

.timeline-consulta {
  border-color: #28a745 !important;
}

.timeline-status {
  border-color: #6c757d !important;
}

.dropdown-anexo:hover {
  background-color: rgba(220,53,69, 0.5);
  border-radius:0.3rem;
}

.dropdown-mensagem:hover {
  background-color: rgba(0,123,255, 0.5);
  border-radius:0.3rem;
}

.dropdown-despesa:hover {
  background-color: rgba(255,193,7, 0.5);
  border-radius:0.3rem;
}

.dropdown-lesao:hover {
  background-color: rgba(111,66,193, 0.5);
  border-radius:0.3rem;
}

.dropdown-consulta:hover {
  background-color: rgba(40,167,69, 0.5);
  border-radius:0.3rem;
}

.accordion-despesas .card-header {
  padding: 0;
}

.accordion-despesas .card-header h6 {
  padding: 1.25rem 1.75rem;
}

.drag-drop {
  height: 100px;
  border: 2px dashed #6C757D;
}

.drag-drop:hover {
  border: 2px dashed #007BFF;
  color: #007BFF;
}

.anexos .nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}
